$gs-warn: false;
@import "gs";

@include gs-register-grid(
	$label: "normal",
	$width: 830px,
	$column-num: 12,
	$gutter: 10px);
@include gs-register-grid(
	$label: "wide",
	$width: 1190,
	$column-num: 12,
	$gutter: 10px);
@include gs-register-grid(
	$label: "fluid",
	$width: 100%,
	$column-num: 4,
	$gutter: 10px);

@include gs-classes("normal", "n-");
@include gs-classes("wide", "w-", true);
@include gs-classes("fluid", "f-", true);