
$gl-do-override-grids: true;
@mixin gl-override-grids {
	
	@include gs-clear-grid-list;
	@include gs-register-grid("gl-wide", 1016px, 12, 4px);
	@include gs-register-grid("gl-normal", 1016px, 12, 4px);
	@include gs-register-grid("gl-mobile", 100%, 4, 10px, 973px);
}

@import
	// guideline lib
	"Hyojun.Guideline/assets/sass/source/common/wrappers/lib",

	// Project's specific core files comes here, to
	// customize guideline colors and gridsystem page widths.

	// guideline elements (desktop, large screen, version)
	"Hyojun.Guideline/assets/sass/output/1306-desktop/guideline.scss"; // desktop version

@include gs-register-grid(
	$label: "mobile",
	$width: 100%,
	$column-num: 2,
	$gutter: 10px);
@include gs-register-grid(
	$label: "desktop",
	$width: 974px,
	$column-num: 12,
	$gutter: 10px);

// example elements
@include gl-gridsystem-example("mobile");
@include gl-gridsystem-example("desktop");

@include gs-classes("desktop", "d-");

%example {
	@extend %example-col;
	margin-top: 10px;
	margin-bottom: 0;
	&:first-child {
		margin-top: 0;
	}
}
%example-col {
	@extend %gl-base-text;
	@include box-sizing(border-box);
	font-size: $gl-content-font-size;
	line-height: $gl-double-space-size;
	background: $gl-theme-neutral-color;
	padding: 3px 5px;
	color: #fff;
	margin-top: 0;
	margin-bottom: 0;
}

// basic example
.example-mobile {
	@extend %example;
	width: gs-column(1, "mobile");
}
.example-desktop {
	@extend %example;
	width: gs-column(1, "desktop");
}

// box modelling examples
.example-wrapper {
	margin-bottom: 10px;
	overflow: hidden;
}
.example-auto {
	@extend %example-col;
	overflow: hidden;
}

.example-side-extra {
	.example-3,
	.example-3-gutter {
		@extend %example-col;
		float: left;
		background: fade_out($gl-theme-neutral-color, 0.3);
	}
	.example-3 {
		width: gs-column(3, "desktop");
		margin-right: gs-gutter(1, "desktop");
	}
	.example-3-gutter {
		width: gs-column(3, "desktop", gs-gutter(1, "desktop"));
	}
}

.example-side-fractal {
	.example-1 {
		@extend %example-col;
		float: left;
		background: fade_out($gl-theme-neutral-color, 0.3);
		width: gs-column(1, "desktop");
		margin-right: gs-gutter(1, "desktop");
	}
	.example-1-2,
	.example-1-3 {
		@extend %example-col;
		float: left;
		background: fade_out($gl-theme-neutral-color, 0.15);
		+ .example-1-2 {
			margin-right: gs-gutter(1, "desktop");
		}
		+ .example-1-2, + .example-1-3 {
			background: fade_out($gl-theme-neutral-color, 0.3);
			+ .example-1-2, + .example-1-3 {
				background: fade_out($gl-theme-neutral-color, 0.45);
				margin-right: gs-gutter(1, "desktop");
			}
		}
	}
	.example-1-2 {
		width: gs-column(1/2, "desktop");
	}
	.example-1-3 {
		width: gs-column(1/3, "desktop");
	}
	.example-1-1-2,
	.example-1-1-3,
	.example-1-2-3 {
		@extend %example-col;
		float: left;
		background: fade_out($gl-theme-neutral-color, 0.3);
	}
	.example-1-1-2 {
		width: gs-column(1 + 1/2, "desktop");
		+ .example-1-1-2 {
			background: fade_out($gl-theme-neutral-color, 0.15);
			margin-right: gs-gutter(1, "desktop");
		}
	}
	.example-1-1-3 {
		width: gs-column(1 + 1/3, "desktop");
		+ .example-1-2-3 {
			background: fade_out($gl-theme-neutral-color, 0.15);
			margin-right: gs-gutter(1, "desktop");
		}
	}
	.example-1-2-3 {
		width: gs-column(1 + 2/3, "desktop");
	}

}

.example-list {
	@include gs-row(gs-column(all, "desktop"), "desktop");
	padding: 0 0 10px;
	> li {
		@extend %example-col;
		display: inline-block;
		width: gs-column(3, "desktop");
		margin: gs-gutter(1, "desktop") -0.25em 0 gs-gutter(1, "desktop");
	}
}
.example-row:hover {
	.example-list {
		position: relative;
		background: fade_out($gl-theme-neutral-color, 0.75);
		&:before {
			position: absolute;
			top: -50%;
			left: gs-gutter(1, "desktop");
			content: "";
			background: red;
			width: 1px;
			height: 175%;
		}
	}
}
.example-row-side-by-side {
	.example-list {
		@include gs-row(gs-column(9, "desktop"), "desktop");
	}
}

.example-classes {
	.d-row {
		margin-bottom: 1px;
	}
	.d-row > div {
		@extend %example-col;
		position: relative;
	}
	em {
		position: absolute;
		width: gs-column(2, "desktop");
		padding-right: gs-gutter(1, "desktop");
		left: gs-column(2, "desktop", gs-gutter(1, "desktop")) * -1;
		color: $gl-theme-neutral-color;
		display: block;
		top: 4px;
		font-size: 0.75em;
		text-align: right;
	}
	&.example-next {
		em {
			left: auto;
			padding-right: 0;
			right: gs-column(2, "desktop", gs-gutter(1, "desktop")) * -1;
			padding-left: gs-gutter(1, "desktop");
			text-align: left;
			
		}
	}
}